/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.docker-volumes
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/coverage/
*.pid
*log
_ide_helper.php
.phpunit.cache
.vscode/
.php-cs-fixer.cache
docker-compose.*
.setup
